.container {
  padding: 0px 30px;
  background-color: #201f1f;
  color: white;
  font-weight: 200;
  transition: background-color 0.25s ease-in-out;
  padding-bottom: 103px;
}

.contents {
  max-width: 1200px;
  margin: auto;
}

.containerLight {
  padding: 0px 30px;
  background-color: white;
  color: #201f1f;
  font-weight: 300;
  transition: background-color 0.25s ease-in-out;
  padding-bottom: 103px;
}

.tag {
  color: rgba(108, 172, 228, 1);
}

.tagLight {
  color: #004E93;
}
